################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/PbLAlgorithmus/bin/Debug
/PbLAlgorithmus/obj
